/* * {
    outline: 2px solid red;
} */

body {
  max-width: 1000px;
  margin: 10px auto;
  background-color: black;
}

.nav {
  display: flex;
  gap: 20px;
  background-color: blueviolet;
}

.navitem {
  display: block;
  padding: 10px;
  color: bisque;
}

.login {
  margin-left: auto;
}

img {
  max-width: 100%;
  display: block;
  max-width: 100px
}

.media {
  border: 2px dotted rgb(96 139 168);
  display: flex;
}

.media .content {
  flex: 1;
  padding: 10px;
  background-color: gray;
  color: bisque;
}

.main {
  display: flex;
  flex-direction: column;
  height: 2000px;
  flex: 1;
  gap: 20px;
}


.item {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  outline: 2px solid blue;
  text-align: center;
  padding: 20px;
}

.container {
  background-color: aquamarine;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}